.hero__container {
    padding-top: 22px;
    gap: 56px;
}

.hero__scroll-down {
    background-image: url("@/assets/img/scroll-down.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 22px;
    height: 11px;
    margin-top: 4rem;
}