.company-reason__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.company-reason__number {
    font-size: var(--reason-number-size);
    font-weight: var(--text-weight);
    text-align: center;
    margin-bottom: 2rem;
}

.company-reason__text {
    text-align: center;
    font-weight: var(--text-weight);
    font-size: var(--block-text-size-smole);
    margin-top: 1.6rem;
    height: auto;
}

._first {
    width: 163px;
}

._second {
    width: 197px;
}

._third {
    width: 187px;
}

._fourth {
    width: 276px;
}

@media (max-width: 640px) {
    .company-reason__container {
        gap: 1rem;
    }

    .company-reason__number {
        margin-bottom: .8rem;
    }

    .company-reason__text {
        margin-top: .8rem;
    }
}
