.hero-picture-wrapp {
    position: absolute;
    height: auto;
    z-index: -10;
    top: 0;
    right: 0;
    mix-blend-mode: darken;
}

.hero-picture-wrapp img {
    max-width: 37rem;
    height: auto;
}

@media (max-width: 1110px) {
    .hero-picture-wrapp {
        top: -20px;
    }
    .hero-picture-wrapp img {
        max-width: 24rem;
    }
}

@media (max-width: 640px) {
    .hero-picture-wrapp {
        top: -95px;
        right: -70px;
    }
    .hero-picture-wrapp img {
        max-width: 19rem;
    }
}

@media (max-width: 375px) {
    .hero-picture-wrapp {
        display: none;
    }
}