.hero-picture-wrapp {
    position: absolute;
    height: auto;
    z-index: -10;
    top: 0;
    right: 0;
    mix-blend-mode: darken;
}

@media (max-width: 1110px) {
    .hero-picture-wrapp {
        top: -100px;
        right: -140px;
    }
}

@media (max-width: 640px) {
    .hero-picture-wrapp {
        top: -220px;
        right: -240px;
    }
}

@media (max-width: 375px) {
    .hero-picture-wrapp {
        display: none;
    }
}