.hero-button__container {
    position: relative;
    height: auto;
}

.hero-button__container .yellow-line {
    display: none;
}

.hero-button__small-screen {
    display: none;
}

.hero-button__info {
    position: relative;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: var(--frame-border-radius);
    width: 683px;
    height: auto;
    padding: 24px 54px 52px 54px;
    box-sizing: border-box;
    text-align: center;
    z-index: 20;
    box-shadow: 0 16px 40px 0 #00000014;
}

.hero-button__btn-wrapp {
    position: absolute;
    z-index: 100;
    top: 90px;
    left: 222px;
}

.hero-button__line-wrapp {
    position: absolute;
    z-index: 50;
    top: 92px;
    left: 200px;
    width: 417px;
    height: 79px;
    background-image: url("@/assets/img/ticket.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 27px;
    box-sizing: border-box;
}

.hero-button__line {
    height: 4px;
    width: 248px;
    background-color: var(--black-color);
}

@media (max-width: 640px) {
    .hero-button__container {
        width: auto;
        height: auto;
        background-color: var(--white-color);
        border-radius: var(--frame-border-radius);
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
    }

    .hero-button__container .yellow-line {
        display: block;
    }

    .hero-button__small-screen {
        display: block;
    }

    .hero-button__info {
        width: 100%;
        box-shadow: none;
        text-align: left;
        padding: 0;
    }

    .hero-button__btn-wrapp {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }

    .hero-button__line-wrapp {
        top: 105px;
        left: 280px;
        width: 170px;
        background-image: url("@/assets/img/ticket_1.png");
    }

    .hero-button__line {
        opacity: 0;
    }
}
