.promise__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    height: auto;
    max-width: 313px;
}

.promise__icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    width: 160px;
    height: 160px;
    -moz-border-radius: 160px;
    -webkit-border-radius: 160px;
    border-radius: 160px;
    margin-bottom: 1.5rem;
}

.promise__first-icon {
    width: 75.61px;
    height: 58.53px;
    background-image: url("@/assets/img/first-icon.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.promise__second-icon {
    width: 75.5px;
    height: 75.61px;
    background-image: url("@/assets/img/second-icon.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.promise__third-icon {
    width: 75.61px;
    height: 63.35px;
    background-image: url("@/assets/img/third-icon.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.first {
    width: 250px;
}

.second {
    width: 313px;
}

.third {
    width: 276px;
}

.promise__text {
    margin-top: 16px;
    height: auto;
    text-align: center;
    font-size: var(--block-text-size);
}

@media (max-width: 640px) {
    .promise__container {
        align-items: flex-start;
    }

    .promise__icon-circle {
        width: 56px;
        height: 56px;
        -moz-border-radius: 56px;
        -webkit-border-radius: 56px;
        border-radius: 56px;
        margin-bottom: 1rem;
    }

    .promise__text {
        text-align: left;
        font-size: var(--block-text-size-smole);
    }

    .promise__first-icon {
        width: 34.67px;
        height: 26.84px;
        background-size: contain;
    }

    .promise__second-icon {
        width: 30.98px;
        height: 31.03px;
        background-size: contain;
    }

    .promise__third-icon {
        width: 36.57px;
        height: 30.65px;
        background-size: contain;
    }
}
