.cost-information__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    width: 71rem;
    min-height: 596px;
    height: auto;
    margin-bottom: 32px;
}