.hero-header__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 50rem;
    margin-left: 25rem;
}

.hero-header__title-wrapp {
    margin-bottom: 162px;
}

.hero-header__title-picture {
    display: none;
}

.hero-header__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.hero-header__title-first-point {
    font-size: var(--main-header-text-size);
    line-height: 56px;
    text-align: left;
}

.hero-header__title-second-point {
    font-size: var(--main-header-subtitle-text-size);
    line-height: 32px;
    text-align: left;
    max-width: 39rem;
}