.hero-header__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 40rem 0 25rem;
}

.hero-header__title-wrapp {
    margin-bottom: 162px;
}

.hero-header__title-picture {
    display: none;
}

.hero-header__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.hero-header__title-first-point {
    font-size: var(--main-header-text-size);
    line-height: 3.5rem;
    text-align: left;
}

.hero-header__title-second-point {
    font-size: var(--main-header-subtitle-text-size);
    line-height: 32px;
    text-align: left;
    max-width: 39rem;
}

@media (max-width: 640px) {
    .hero-header__container {
        margin: 0 1.25rem;
    }

    .hero-header__title-wrapp {
        margin-bottom: 48px;
    }

    .hero-header__title-wrapp h1 {
        display: none;
    }

    .hero-header__title-picture {
        display: block;
    }

    .hero-header__title {
        gap: 16px;
    }

    .hero-header__title-first-point {
        font-size: var(--main-header-subtitle-text-size);
        line-height: 2rem;
        margin-right: 20rem;
    }

    .hero-header__title-second-point {
        font-size: var(--block-text-size-smole);
        line-height: 1.5rem;
        margin-right: 12rem;
    }
}

@media (max-width: 340px) {
    .hero-header__container {
        display: none;
    }
}