.map-picture {
    position: absolute;
    top: 0;
    left: 0;
}

.map_info-wrapp {
    position: relative;
    width: 480px;
    height: 288px;
    border-radius: var(--info-frame-border-radius);
    z-index: 10;
    margin-left: 25rem;
}

.map_info-wrapp::after {
    content: "";
    position: absolute;
    z-index: -2;
    border: 0.5rem solid var(--yellow-color);
    border-radius: var(--info-frame-border-radius);
    width: 480px;
    height: 288px;
    top: 0.5rem;
    left: 0.5rem;
}

.map_info {
    font-family: Montserrat, serif;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: var(--info-frame-border-radius);
    width: 100%;
    height: 100%;
    padding: 40px 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
}

.map_info-header {
    font-size: var(--number-size);
    font-weight: var(--bold-text-weight);
    text-align: left;
}

.map_info-text {
    font-size: var(--block-text-size-smole);
    font-weight: var(--text-weight);
    text-align: left;
}

.map_copy {
    margin-top: 9.5rem;
    margin-left: 25rem;
    text-align: left;
    color: var(--black-btn-color);
}

.map_slitename {
    font-size: var(--number-size);
    font-weight: var(--bold-text-weight);
    margin-bottom: 4px;
}

.map_agreement {
    font-size: var(--block-text-size-min);
    font-weight: var(--text-weight);
}
