#map {
    width: 100%;
    height: 512px;
}

.map__container {
    width: 100%;
    height: auto;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.map-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.map-picture img {
    width: 100%;
    height: 512px;
}

.map__info-wrapp {
    position: relative;
    width: 480px;
    height: 288px;
    border-radius: var(--info-frame-border-radius);
    z-index: 10;
    margin-left: 19rem;
    margin-top: 7rem;
}

.map__info-wrapp::after {
    content: "";
    position: absolute;
    z-index: -2;
    border: 0.5rem solid var(--yellow-color);
    border-radius: var(--info-frame-border-radius);
    width: 480px;
    height: 288px;
    top: 0.5rem;
    left: 0.5rem;
}

.map__info {
    font-family: 'Montserrat', serif;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: var(--info-frame-border-radius);
    width: 480px;
    height: 100%;
    padding: 40px 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
}

.map__info-header {
    font-size: var(--number-size);
    font-weight: var(--bold-text-weight);
    text-align: left;
}

.map__info-text {
    font-size: var(--block-text-size-smole);
    font-weight: var(--text-weight);
    text-align: left;
}

.map__copy {
    margin-top: 9.5rem;
    margin-left: 19rem;
    text-align: left;
    color: var(--black-btn-color);
    opacity: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.3rem
}

.map__slitename {
    font-size: var(--number-size);
    font-weight: var(--bold-text-weight);
    margin-bottom: 4px;
}

.map__agreement {
    font-size: var(--block-text-size-min);
    font-weight: var(--text-weight);
}

.map__developed {
    display: none;
}

.developed-logo {
    margin-bottom: 4px;
}

@media (max-width: 1100px) {
    #map {
        height: 400px;
    }

    .map__container {
        padding: 1.5rem 1.25rem;
        align-items: flex-start;
        flex-direction: column;
        gap: 7rem;
    }

    .map__info-wrapp, .map__copy {
        margin-left: 5rem;
        margin-top: 0;
    }
}

@media (max-width: 640px) {
    .map__container {
        align-items: center;
    }

    .map__info-wrapp, .map__copy {
        margin-left: 0;
    }

    .map__info-wrapp, .map__info {
        width: 325px;
        height: auto;
    }

    .map__info-wrapp::after {
        width: 325px;
        height: 300px;
    }

    .map__info {
        padding: 1.5rem;
    }

    .map__developed {
        display: block;
    }
}
