:root {
  --main-header-text-size: 48px;
  --main-header-subtitle-text-size: 24px;
  --section-header-size: 40px;
  --block-header-size: 18px;
  --block-header-size-min: 16px;
  --block-text-size: 16px;
  --block-text-size-smole: 14px;
  --block-text-size-min: 12px;
  --btn-border-radius: 72px;
  --btn-text-size: 18px;
  --text-weight: 400;
  --bold-text-weight: 700;
  --frame-border-radius: 80px;
  --info-frame-border-radius: 8px;
  --frame-width: 352px;
  --frame-height: 580px;

  --header-color: #000000;
  --body-color: #F4F5F7;
  --yellow-color: #FFD900;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --yellow-btn-color: #FFD900;
  --yellow-btn-color-hover: #ffef00;
  --yellow-btn-text-color: #222222;
  --black-btn-color: #222222;
  --black-btn-color-hover: #dddddd;
  --black-btn-text-color: #FFFFFF;
  --black-btn-text-color-hover: #222222;
  --attention-color: #FF5721
}
