body {
    font-family: Montserrat, serif;
    color: var(--header-color);
    background-color: var(--body-color);
}

h1 {
    font-size: var(--main-header-text-size);
    display: block;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
}

h2 {
    font-size: var(--section-header-size);
}

h3 {
    font-size: var(--block-header-size);
    text-align: left;
    line-height: 24px;
}

button {
    font-family: Proxima Nova, serif;
    font-size: var(--btn-text-size);
    border-radius: var(--btn-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .28s;
    cursor: pointer;
}

.bold-text {
    font-weight: bold;
}

.main-header-block-wrapp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 794px;
}

.block-wrapp {
    width: 100%;
    height: auto;
    padding-top: 112px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.first-block {
    background-image: url("../img/header-picture.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
    padding-top: 22px;
    gap: 56px;
}

.header_picture {
    display: none;
}

.header-wrapp {
    margin-bottom: 162px;
}

.first-point {
    font-size: var(--main-header-text-size);
    line-height: 56px;
    text-align: left;
}

.second-point {
    font-size: var(--main-header-subtitle-text-size);
    line-height: 32px;
    text-align: left;
}

.promises-wrapp {
    max-width: 1087px;
    width: 100%;
    height: auto;
    border-left: 2px solid var(--black-color);
    padding: 0 0 0 64px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 83px;
}

.promises-block {
    min-height: 260px;
    height: auto;
    width: 100%;
    max-width: 480px;
    font-size: var(--block-text-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.order-button-wrapp {
    position: relative;
}

.info-action {
    position: relative;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: var(--frame-border-radius);
    width: 683px;
    height: 92px;
    padding: 12px 54px 52px 54px;
    box-sizing: border-box;
    text-align: center;
    z-index: 20;
}

.btn-wrapp {
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 222px;
}

.line-wrapp {
    position: absolute;
    z-index: 50;
    top: 60px;
    left: 200px;
    width: 417px;
    height: 79px;
    background-image: url("../img/ticket.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 27px;
    box-sizing: border-box;
}

.line {
    height: 4px;
    width: 248px;
    background-color: var(--black-color);
}

.black-button {
    background-color: var(--black-btn-color);
    color: var(--black-btn-text-color);
    width: 201px;
    height: 64px;
}

.black-button:hover {
    background-color: var(--black-btn-color-hover);
    color: var(--black-btn-text-color-hover);
}

.honest {
    background-color: var(--white-color);
}

.leaves-1 {
    background-image: url("../img/leaves_1.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 796px;
    background-color: var(--white-color);
}

.section-header-wrapp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 56px;
}

.header-line {
    width: 32px;
    height: 1px;
    background-color: var(--black-color);
}

.information-blocks-wrapp {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    width: 1136px;
    min-height: 596px;
    margin-bottom: 32px;
}

.normal-text {
    font-size: var(--block-text-size);
    text-align: center;
}

.big-text {
    font-size: var(--main-header-subtitle-text-size);
    text-align: center;
    max-width: 763px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.black-button-wrapp {
    margin-top: 32px;
}

.yellow-button {
    background-color: var(--yellow-btn-color);
    color: var(--yellow-btn-text-color);
    width: 220px;
    height: 56px;
}

.yellow-button:hover {
    background-color: var(--yellow-btn-color-hover);
}

.block-header-wrapp {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 272px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    padding: 0;
}

.yellow-line {
    width: 32px;
    height: 2px;
    background-color: var(--yellow-color);
}

.text-wrapp {
    max-width: 272px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--block-text-size);
    font-weight: var(--text-weight);
}

.text-wrapp span {
    font-weight: var(--bold-text-weight);
}

.information-block-wrapp:hover .yellow-frame {
    opacity: 1;
}

.yellow-frame {
    border: 8px solid var(--yellow-color);
    top: 16px;
    left: 16px;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.2s linear 0.1s;
}

.information-block-wrapp {
    width: 100%;
}

.blocks-wrapp {
    position: relative;
}

.frame {
    position: absolute;
    box-sizing: border-box;
    width: var(--frame-width);
    height: var(--frame-height);
    border-radius: var(--info-frame-border-radius);
}

.information-block {
    background-color: var(--white-color);
    z-index: 10;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 16px 56px 0 #00000014;
}

.main-information {
    display: block;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--block-text-size-smole);
}

.main-information li {
    margin-bottom: 16px;
}

.details {
    opacity: 50%;
    display: none;
    font-size: var(--block-text-size-min);
}

.details::after {
    content: url('../img/scroll-down.svg');
    display: inline-block;
    margin-left: 8px;
}

@media (max-width: 640px) {
    h1, .yellow-frame, .text-wrapp {
        display: none;
    }

    h3, button {
        font-size: var(--block-header-size-min);
    }

    .details {
        display: block;
    }

    .main-information {
        display: none;
    }

    .information-block {
        padding: 40px;
    }
}

@media (max-width: 375px) {
    h1, .yellow-frame, .text-wrapp {
        display: none;
    }

    h3, button {
        font-size: var(--block-header-size-min);
    }

    .details {
        display: block;
    }

    .main-information {
        display: none;
    }

    .information-block {
        padding: 40px;
    }
}